<div fxLayout="row" fxLayoutAlign="space-around center" style="padding-top: 100px;">
    <mat-card>
        <h3>User Login</h3>
        <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm)">
            <div fxLayout="column">
                <div>
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input type="text" formControlName="email" class="form-control" matInput
                            placeholder="Ex. user@domain.com">
                    </mat-form-field>
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" class="form-control" matInput placeholder="">
                    </mat-form-field>
                </div>
                <div>
                    <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign='center center'>
                        <button  mat-raised-button color="primary">Login</button>
                        <button routerLink="/lazy" mat-raised-button color="primary">Register</button>
                    </div>
                </div>
            </div>
        </form>
    </mat-card>
</div>